%br/
%br/
.container
  %h3= @pole.name
  %br/
  = (@pole.description || '<p>Aucune description renseignée.</p>')&.html_safe
  - if @pole.document_1.present?
    = link_to(@pole.document_1_name || 'Télécharger Document 1', url_for(@pole.document_1), class: 'btn btn-dark')
  - if @pole.document_2.present?
    = link_to(@pole.document_2_name || 'Télécharger Document 2', url_for(@pole.document_2), class: 'btn btn-dark')
  - if @pole.document_3.present?
    = link_to(@pole.document_3_name || 'Télécharger Document 3', url_for(@pole.document_3), class: 'btn btn-dark')
  - if @pole.document_1.present? || @pole.document_2.present? || @pole.document_3.present?
    %br/
    %br/
  %br/
  .row
    .col-md-4
      %div{style: "background-color: #2daae1; color: white; font-size: 20px; padding: 10px 20px; text-align: center"} FICHES – CAMPS
      - @pole.fiches.group_by(&:country).each do |country, fiches|
        .card
          .card-header{id: country}
            %h5.mb-0
              %span.btn
                #{country} (#{ pluralize(fiches.count, 'camps') })
          .card-body
            %ul
              - fiches.each do |fiche|
                %li= link_to(fiche.location, fich_path(fiche))

    .col-md-4
      %div{style: "background-color: #2daae1; color: white; font-size: 20px; padding: 10px 20px; text-align: center"} RAPPORTS
      - @pole.reports.each do |report|
        .card
          .card-header
            %h5.mb-0
              %span.btn
                = report.name
          .card-body
            = report.description
            %br/
            %br/
            = link_to('Télécharger', rails_blob_path(report.document, disposition: "attachment"), style: "color: #29328a", class: 'btn btn-warning')

    .col-md-4
      %div{style: "background-color: #2daae1; color: white; font-size: 20px; padding: 10px 20px; text-align: center"} PLAIDOYER
      - @pole.advocacies.each do |advocacy|
        .card
          .card-header
            %h5.mb-0
              %span.btn
                = advocacy.name
          .card-body
            = advocacy.description
            %br/
            %br/
            = link_to('Télécharger', rails_blob_path(advocacy.document, disposition: "attachment"), style: "color: #29328a", class: 'btn btn-warning')
