#map
%div.div_orange div text 
 

%div{style: 'padding: 20px 0px; text-align: center; font-size: 24px; color: #29328A; font-weight: bold'}
  %div.cirlce_div 
    %br/
    %span.counter{style: "font-weight: bold; color: #fff; font-size: 32px"}= Fiche.count
    %br/
    Camps Observés
  %div.cirlce_div 
    %br/ 
    %span.counter{style: "font-weight: bold; color: #fff; font-size: 32px;margin-top:1%"}= Fiche.pluck(:country).uniq.compact.count
    %br/
    Pays 
  %div.cirlce_div
    %br/ 
    %span.counter{style: "font-weight: bold; color: #fff; font-size: 32px"}= Person.count
    %br/
    Contributeurs et Contributrices
 
  
 
:css
  .ais-geo-search--control {
    display: none;
  }

  #map {
    position: relative;
  }

