%br/
%br/
.container
  %h3 Actualité de l’Observatoire
  %br/
  - Post.obs.order(created_at: :desc).each do |post|
    %h4= post.name
    %p= post.content.html_safe
    - if post.document_1.present?
      = link_to(post.document_1_name || 'Télécharger Document 1', url_for(post.document_1), class: 'btn', style: 'background-color: lightgray')
    - if post.document_2.present?
      = link_to(post.document_2_name || 'Télécharger Document 2', url_for(post.document_2), class: 'btn', style: 'background-color: lightgray')
    - if post.document_3.present?
      = link_to(post.document_3_name || 'Télécharger Document 3', url_for(post.document_3), class: 'btn', style: 'background-color: lightgray')
    - if post.document_1.present? || post.document_2.present? || post.document_3.present?
      %br/
    %br/
    %hr/
    %br/
