%br/
%br/
.container
  %h4 Camps
  %br/
  %h5 Définitions et terminologies
  %p Document en attente.

  %br/
  %h5 le pôle Europe (13 camps)
  %p Italie (5 camps), Grèce (6 camps), Serbie (2)

  %br/
  %h5 le pôle Amériques (19)
  %p Colombie (5), Costa-Rica (3), Mexique (2), Panama (2), Belize (1), Haïti (1), Nicaragua (1), Guatemala (2), Honduras (1), Equateur (1)

  %br/
  %h5 le pôle Afrique (43)
  %p Rwanda (5), Togo (1), Niger (4), Ethiopie (3), Ouganda (2), Burkina-Faso (2), Libéria (1), Tchad (7), Kenya (2), Cameroun (4), Malawi (2), République Démocratique du Congo (4), Zimbabwe (1) Ghana (3) Soudan (1), Tanzanie (1)

  %br/
  %h5 le pôle Asie et Pacifique (11 camps)
  %p Pakistan (3) , Thaïlande (3), Bangladesh (2), Iran (1), Birmanie (2)

  %br/
  %h5 le pôle Afrique du Nord et Moyen-Orient (34)
  %p
    Territoires palestiniens (6), Liban (11), Libye (2), Jordanie (2), Algérie (2), Turquie (2), Irak (1), Syrie (5), Mauritanie (1), Tunisie (1), Yémen (1)

  %br/
  %h4 Suggérer un camps
  %p
    Merci de renseigner le formulaire ci-dessous pour nous suggérer un nouveau camps.

  .new_camp_created{style: 'display: none;'}
    .alert.alert-success
      %h4{style: "padding: 10px; margin: 0;"} Merci, votre message a bien été envoyé.
    %br/

  = simple_form_for Camp.new, url: camps_path, remote: true do |form|
    = form.input :name, label: 'Nom du camps'
    = form.input :country, label: 'Pays'
    = form.input :url, label: 'Lien web'
    = form.submit 'Envoyer', class: 'btn btn-dark'
  %br/
  %br/
