%br/
%br/
.container
  %h3 Rechercher
  %br/
  = simple_form_for @q, url: page_path(:search), method: :get do |f|
    = f.input :location_or_country_cont, as: :string, label: false, input_html: { placeholder: 'Par ville, pays ou addresse...' }
    %br/
    - @fiches.each do |fiche|
      %h5= link_to("#{fiche.location} — #{fiche.pole.name}", fich_path(fiche))
      %p
        Pays :
        = fiche.country
      %br/
    %br/
    = f.submit('Rechercher', class: "btn nav-link", style: "background: #37a9e1; color: white;")
