%br/
%br/
.container
  %h4= @page.name
  - if @page.document_1.present? || @page.document_2.present? || @page.document_3.present?
    %br/
  - if @page.document_1.present?
    = link_to(@page.document_1_name || 'Télécharger Document 1', url_for(@page.document_1), class: 'btn btn-dark')
  - if @page.document_2.present?
    = link_to(@page.document_2_name || 'Télécharger Document 2', url_for(@page.document_2), class: 'btn btn-dark')
  - if @page.document_3.present?
    = link_to(@page.document_3_name || 'Télécharger Document 3', url_for(@page.document_3), class: 'btn btn-dark')
  - if @page.document_1.present? || @page.document_2.present? || @page.document_3.present?
    %br/
    %br/
  %br/
  = @page.content.html_safe
