/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #1a1a1a;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.div_orange {
  background-color:rgb(247, 152, 43,0.8);
  width: 80%;
    text-align: center;
    margin-left: 10%;
    color: #fff;
    position: absolute;
    margin-top: -15%;
    font-size: 24px;
    display:block;

}
#map:hover ~ .div_orange{
  display : none;
}

.cirlce_div{
  width:170px;
  height:170px;
  border-radius:85px;
  background-color:#36A9E1;
  color:#fff;
  font-size: 18px;
    float: left;
    margin-left: 17%;
    margin-top: 2%;
    margin-bottom: 2%;
  }