%br/
%br/
.container
  %h3 #{@fiche.location} — #{@fiche.pole.name}
  %br/
  = (@fiche.description || '<p>Aucune description renseignée.</p>')&.html_safe
  - if @fiche.document_1.present?
    = link_to(@fiche.document_1_name || 'Télécharger Document 1', url_for(@fiche.document_1), class: 'btn btn-dark')
  - if @fiche.document_2.present?
    = link_to(@fiche.document_2_name || 'Télécharger Document 2', url_for(@fiche.document_2), class: 'btn btn-dark')
  - if @fiche.document_3.present?
    = link_to(@fiche.document_3_name || 'Télécharger Document 3', url_for(@fiche.document_3), class: 'btn btn-dark')
  - if @fiche.document_1.present? || @fiche.document_2.present? || @fiche.document_3.present?
    %br/
  %br/
  %br/
  = image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{[@fiche.latitude, @fiche.longitude].join(',')}&zoom=6&size=600x200&key=AIzaSyB-VE7BEdCw6S_613eERdgqoaiLYR7a7T0&region=MA&scale=2&markers=color:red|#{[@fiche.latitude, @fiche.longitude].join(',')}")
